<section class="section">
  <div class="container">
    <h1>All Blogs</h1>    
    <a class="button is-link" href="/blogs/new">New Blog</a>

    <% @blogs.each do |blog| %>
      <h3><%= blog.title %></h3>
      <p><%= blog.content %></p>
    <% end %>  
  </div>
</section>
